:root {
    --base-color: #007bff;
}

body {
    font-family: Arial, sans-serif;
    max-width: 1600px;
    margin: 0 auto;
    padding: 1em;
}

#meta-header {
    border-left: 4px solid #88C;
    padding-left: 1ex;
}

#tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 1.75em;
    max-width: 1440px;
}

.tag {
    background-color: #eef;
    background-image: linear-gradient(to right, #eee, #F9F9FC);
    padding: 5px 10px;
    border-radius: 55px;
    cursor: pointer;
    text-shadow: 1px 2px 1px white;
    text-transform: capitalize;
}

.ww-bcg {
    background-color: var(--base-color);
    color: whitesmoke;
}

.ww-bcg a {
    color: lightyellow;
}

.tag.active {
    background-color: var(--base-color);
    background-image: linear-gradient(to right, var(--base-color) 50%, #009bCC);
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    outline: 1px solid whitesmoke;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, .3);
}

.tag.highlighted {
    outline: 2px solid var(--base-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

#audio-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: -1px;
    grid-auto-flow: dense;
}

.audio-item {
    line-height: 1.15;
    height: 4em;
    overflow: hidden;
    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;
    padding: .75ex .5ex .5ex .75ex;
    cursor: pointer;
    position: relative;
    background-color: rgba(245, 245, 245, 0.512);
    outline: 2px solid white;
    box-shadow: inset 1px 0 2em rgba(0, 0, 0, .15);
}

/* or #xcanvas */
#audio-list .audio-item:first-child h3 {
    font-size: 3em;
    margin: .5ex 0 0 .5ex;
}

#audio-list .audio-item:first-child {
    grid-column: span 2;
    grid-row: span 3;
    height: 13.6em;
    padding: 0;
    z-index: 33;
}

#audio-list .audio-item:first-child:before {
    font-size: 4em;
    left: 2em;
    top: 1.5ex;
}

#child-themes,
.item-tags {
    font-family: 'Arial Narrow', sans-serif;
}

.audio-item .item-tags .item-tag {
    background-color: whitesmoke;
}

.audio-item:hover .item-tags .item-tag {
    background-color: transparent;
    color: #999;
}

.audio-item.xplaying {
    border-radius: .7ex;
    outline: 2px solid rgba(255, 255, 255, .75);
    z-index: 2;
    box-shadow: inset 1px 0 2em rgba(0, 0, 0, .6), 1px 3px 5px rgba(0, 0, 0, .6) !important;
}

.audio-item:before {
    font-size: 2.5em;
    left: 1.4em;
    top: .5ex;
    opacity: .8;
    position: absolute;
}

.audio-item.xplaying:before {
    content: "🔉";
    opacity: .66;
    animation: pulse .7s infinite;
    text-shadow: 1px 2px 9px rgba(255, 255, 0, 0.8);
}

.audio-item.xplaying:hover:before {
    /* stop the pulse animation */
    animation: none;
    content: "⏯️";
}

.audio-item:not(.xplaying):hover:before {
    content: "▶️";
}

.audio-item.xplaying.playing {
    background-color: var(--base-color);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}

.audio-item.playing {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
    z-index: 2;
    background-color: #DDE;
    box-shadow: inset 1px 0 2em rgba(0, 0, 0, .2), 1px 3px 5px rgba(0, 0, 0, .6) !important;
}

#renderer-placeholder {
    font-size: 5em;
    display: block;
    text-align: center;
    position: absolute;
    top: 30%;
    width: 100%;
}

/* define animation */
@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}

.audio-item h3 {
    margin: 0 0 3px 0;
    padding: 1px;
    line-height: 1;
    display: inline;
    display: inline-block;
}

.audio-item:hover {
    background-color: #333;
    color: white;
}

.audio-item:hover h3 {
    text-shadow: 1px 2px 3px rgba(0, 0, 0, .4);
}

.audio-item.xplaying h3 {
    text-shadow: 1px 2px 3px rgba(0, 0, 0, .4);
    color: white;
}

.audio-item h3 {
    text-shadow: 0 0 1px white, -1px -1px 0 white, 1px 1px 0 white, 2px 2px 0 white, -2px -2px 0 white, 0 0 4px white;
}

.item-tags {
    font-size: 0.8em;
    color: #666;
}

.item-tag {
    padding: 1px 3px;
    border-radius: 3px;
    margin: 1px;
}

#selected-tags {
    font-size: 1.2em;
}

#selected-tags b {
    background-color: rgba(255, 255, 0, .25);
    color: #666;
    font-size: 1.2em;
    text-transform: capitalize;
}

#child-themes {
    font-size: 0.9em;
    color: #666;
    margin-top: 5px;
    line-height: .8;
}

#child-themes .item-tag {
    display: inline-block;
}

#child-themes:not(:empty) {
    margin-bottom: 20px;
    padding: .4ex;
}

#child-themes:not(:empty)::before {
    content: '🏷️ ';
    font-weight: bold;
}

#progress-bar-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #f0f0f0;
    z-index: 1000;
}

#progress-bar {
    height: 100%;
    width: 0;
    background-color: var(--base-color);
    transition: width 0.1s linear;
}

a#reset {
    font-size: .85em;
    text-decoration: none;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
    background-color: rgba(255, 0, 0, .66);
    color: whitesmoke;
    display: inline-block;
    line-height: 1;
    text-align: center;
    border-radius: .75em;
    width: 1.75ex;
    padding: 2px;
}

a#reset:hover {
    background-color: rgba(255, 0, 0, 1);
}

#wrapper {
    display: flex;
    flex-flow: column;
}

@media screen and (max-width:760px) {
    #audio-list:not(:empty) {
        margin-bottom: .75em;
        padding-bottom: .75em;
    }
}

#tag-wrapper {
    margin-top: 2em;
    padding: 1ex;
}

#share {
    position: fixed;
    background-color: red;
    color: white;
    padding: 5px;
    cursor: pointer;
    z-index: 1000;
    line-height: 1;
    bottom: 0;
    right: 0;
    height: 1em;
    box-shadow: 2px 1px 8px rgba(0, 0, 0, .5);
    font-size: 1.4em;
    border-top-left-radius: .66em;
    padding: .7ex 1.2ex;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
    outline: 1px solid white;
}

#share:hover {
    font-size: 1.65em;
    background-color: darkred;
}

#footer-logo {
    margin-top: 5em;
    font-size: 1.5em;
}

details#about {
    margin: 0 0 2em 0; display: inline-block;
}

details#about p {
    display: inline-block;
    padding: .5ex 1ex;
    border-radius: 3px;
    margin: -1px 0 -1px 0;
}

details#about p.ww-bcg {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .4);
    outline: 1px solid rgba(255, 255, 255, .33);
}

details#about p:last-child {
    padding-bottom: 1ex;
    margin-bottom: 1em;
}

details#about p:first-child {
    padding-top: 1ex;
}

details p b {
    color: rgb(246, 255, 179);
    text-shadow: 2px 1px 2px rgba(0, 0, 0, .6);
}

details details {
    margin: 1ex 0 0 0;
}

details>summary {
    list-style-type: '+ ';
}

details[open]>summary {
    list-style-type: '| ';
}

details[open]>summary {
    margin-bottom: 0.5rem;
}

#about summary {
    cursor: pointer;
    font-weight: bold;
}

.xmessage {
    position: fixed;
    bottom: 3em;
    right: 5px;
    padding: 5px;
    background-color: rgba(0, 0, 0, .66);
    color: white;
    font-size: 1.25em;
    border-radius: 5px;
    z-index: 1000;
}

body:not(._filtered) #footer-logo {
    display: none;
}

body:not(._filtered) #about {
    margin-top: 5em;
}

#tag-list span:before {
    position: relative;
    margin-left: -1.15ex;
    margin-right: .75ex;
    margin-top: -1em;
    transform: scale(1.75);
    display: inline-block;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

#toggle-ctgs {
    display: none; 
    position: fixed;  
    background-color: var(--base-color); 
    color: white;

    padding: 5px;
    cursor: pointer;
    z-index: 1000;
    line-height: 1;
    bottom: 0;
    left: 0;
    height: 1em;
    box-shadow: 2px 1px 8px rgba(0, 0, 0, .5);
    font-size: 1.4em;
    border-top-right-radius: .66em;
    padding: .7ex 1.2ex;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
    outline: 1px solid white;

}

#toggle-ctgs.shown {
    display: inline-block;
}
body #meta-header #selected-tags b:before {
    font-size: 1.5em;
    margin-right: 4px;
}

body.action #meta-header #selected-tags b:before,
#tag-list span[data-tag="action"]:before {
    content: "\1F918";
}

body.no #meta-header #selected-tags b:before,
#tag-list span[data-tag="no"]:before {
    content: "👎";
}

body.no #meta-header #selected-tags b:before,
#tag-list span[data-tag="no"]:before {
    content: "👎";
}

body.supportive #meta-header #selected-tags b:before,
#tag-list span[data-tag="supportive"]:before {
    content: "🤙🏻";
}

body.yes #meta-header #selected-tags b:before,
#tag-list span[data-tag="yes"]:before {
    content: "👍";
}

body.approve #meta-header #selected-tags b:before,
#tag-list span[data-tag="approve"]:before {
    content: "👍";
}

body.dismissive #meta-header #selected-tags b:before,
#tag-list span[data-tag="dismissive"]:before {
    content: "👎";
}

body.danger #meta-header #selected-tags b:before,
#tag-list span[data-tag="danger"]:before {
    content: "⚠️";
}

body.fail #meta-header #selected-tags b:before,
#tag-list span[data-tag="fail"]:before {
    content: "⚠️";
}

body.fart #meta-header #selected-tags b:before,
#tag-list span[data-tag="fart"]:before {
    content: "💨";
}

body.happy #meta-header #selected-tags b:before,
#tag-list span[data-tag="happy"]:before {
    content: "🦄";
}

body.laugh #meta-header #selected-tags b:before,
#tag-list span[data-tag="laugh"]:before {
    content: "🤣";
}

body.sad #meta-header #selected-tags b:before,
#tag-list span[data-tag="sad"]:before {
    content: "😥";
}

body.drum #meta-header #selected-tags b:before,
#tag-list span[data-tag="drum"]:before {
    content: "🥁";
}

body.angry #meta-header #selected-tags b:before,
#tag-list span[data-tag="angry"]:before {
    content: "👿";
}

body.winning #meta-header #selected-tags b:before,
#tag-list span[data-tag="winning"]:before {
    content: "🥇";
}

body.gun #meta-header #selected-tags b:before,
#tag-list span[data-tag="gun"]:before {
    content: "💥";
}

body.insult #meta-header #selected-tags b:before,
#tag-list span[data-tag="insult"]:before {
    content: "🤬";
}

body.confusion #meta-header #selected-tags b:before,
#tag-list span[data-tag="confusion"]:before {
    content: "🤔";
}

body.impatience #meta-header #selected-tags b:before,
#tag-list span[data-tag="impatience"]:before {
    content: "⏳";
}

body.ringtone #meta-header #selected-tags b:before,
#tag-list span[data-tag="ringtone"]:before {
    content: "📱";
}

body.meeting #meta-header #selected-tags b:before,
#tag-list span[data-tag="meeting"]:before {
    content: "🤺";
}

/* hide tags */
#tag-list span[data-tag="ro"],
#tag-list span[data-tag="manele"],
#tag-list span[data-tag="supportive"],
#tag-list span[data-tag="approve"],
#tag-list span[data-tag="conclusion"],
#tag-list span[data-tag="darth-vader"],
#tag-list span[data-tag="chill-down"],
#tag-list span[data-tag="thank-you"],
#tag-list span[data-tag="realistic"],
#tag-list span[data-tag="alarm"],
#tag-list span[data-tag="_unfilled"],
#tag-list span[data-tag="quote"],
#tag-list span[data-tag="mockery"],
#tag-list span[data-tag="filler"],
#tag-list span[data-tag="dukenukem"],
#tag-list span[data-tag="meme"],
#tag-list span[data-tag="seinfeld"],
#tag-list span[data-tag="cheering"],
#tag-list span[data-tag="aggressive"],
#tag-list span[data-tag="error"],
#tag-list span[data-tag="scream"],
#tag-list span[data-tag="metal"],
#tag-list span[data-tag="happy-birthday"],
#tag-list span[data-tag="fake-enthusiasm"],
#tag-list span[data-tag="failure-expected"],
#tag-list span[data-tag="relief"],
#tag-list span[data-tag="the-office"],
#tag-list span[data-tag="natural"],
#tag-list span[data-tag="misc"],
#tag-list span[data-tag="games"],
#tag-list span[data-tag="futurama"],
#tag-list span[data-tag="confirmation"],
#tag-list span[data-tag="computer"],
#tag-list span[data-tag="circus"],
#tag-list span[data-tag="cartoons"],
#tag-list span[data-tag="Uncategorized"],
#tag-list span[data-tag="donald-trump"],
#tag-list span[data-tag="lets-do-it"],
#tag-list span[data-tag="robot-voice"],
#tag-list span[data-tag="female-voice"],
#tag-list span[data-tag="male-voice"] {
    display: none;
}
